In [15]:
import yfinance as yf
import pandas as pd

In [16]:
# Define the stock symbols
symbols = ['AAPL']

In [17]:
# Define the start and end dates for historical data
start_date = '2010-01-01'
end_date = '2023-06-09'

In [18]:
# Create an empty DataFrame to store the stock data
stock_data = pd.DataFrame()

In [19]:
# Fetch historical data for each stock
for symbol in symbols:
    stock = yf.Ticker(symbol)
    data = stock.history(start=start_date, end=end_date)
    stock_data = pd.concat([stock_data, pd.DataFrame(data)], ignore_index=False)

In [20]:
stock_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-01-04 00:00:00-05:00,6.453206,6.485558,6.421458,6.470742,493729600,0.0,0.0
2010-01-05 00:00:00-05:00,6.488580,6.518514,6.447762,6.481928,601904800,0.0,0.0
2010-01-06 00:00:00-05:00,6.481928,6.507628,6.372172,6.378824,552160000,0.0,0.0
2010-01-07 00:00:00-05:00,6.402409,6.409968,6.320772,6.367033,477131200,0.0,0.0
2010-01-08 00:00:00-05:00,6.358566,6.409967,6.321075,6.409362,447610800,0.0,0.0
...,...,...,...,...,...,...,...
2023-06-02 00:00:00-04:00,180.317907,181.064957,178.554865,180.238220,61945900,0.0,0.0
2023-06-05 00:00:00-04:00,181.911617,184.222483,177.339661,178.873611,121946500,0.0,0.0
2023-06-06 00:00:00-04:00,179.262086,179.411490,176.732069,178.505081,64848400,0.0,0.0
2023-06-07 00:00:00-04:00,177.738101,180.497209,176.622511,177.120544,61944600,0.0,0.0
2023-06-08 00:00:00-04:00,177.200215,180.128653,176.761959,179.859726,50214900,0.0,0.0

In [21]:
# Reset the index and rename columns
stock_data.reset_index(inplace=True)
stock_data.rename(columns={'Date': 'Date', 'Open': 'Open', 'High': 'High', 'Low': 'Low', 'Close': 'Close', 'Volume': 'Volume'}, inplace=True)

In [22]:
stock_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00-05:00,6.453206,6.485558,6.421458,6.470742,493729600,0.0,0.0
1,2010-01-05 00:00:00-05:00,6.488580,6.518514,6.447762,6.481928,601904800,0.0,0.0
2,2010-01-06 00:00:00-05:00,6.481928,6.507628,6.372172,6.378824,552160000,0.0,0.0
3,2010-01-07 00:00:00-05:00,6.402409,6.409968,6.320772,6.367033,477131200,0.0,0.0
4,2010-01-08 00:00:00-05:00,6.358566,6.409967,6.321075,6.409362,447610800,0.0,0.0
...,...,...,...,...,...,...,...,...
3376,2023-06-02 00:00:00-04:00,180.317907,181.064957,178.554865,180.238220,61945900,0.0,0.0
3377,2023-06-05 00:00:00-04:00,181.911617,184.222483,177.339661,178.873611,121946500,0.0,0.0
3378,2023-06-06 00:00:00-04:00,179.262086,179.411490,176.732069,178.505081,64848400,0.0,0.0
3379,2023-06-07 00:00:00-04:00,177.738101,180.497209,176.622511,177.120544,61944600,0.0,0.0
3380,2023-06-08 00:00:00-04:00,177.200215,180.128653,176.761959,179.859726,50214900,0.0,0.0

In [23]:
# Save the stock data to a CSV file
stock_data.to_csv('stock_data.csv', index=False)