In [102]:
import pandas as pd

In [103]:
# Load the stock data from the CSV file
stock_data = pd.read_csv('stock_data_preprocessed.csv')

In [104]:
stock_data['sma'] = stock_data['Close'].rolling(window=20).mean()

In [106]:
stock_data["ema"] = stock_data["Close"].ewm(span=12, adjust=False).mean()

In [107]:
delta = stock_data["Close"].diff()
gain = delta.where(delta > 0, 0)
loss = -delta.where(delta < 0, 0)
avg_gain = gain.rolling(window=14).mean()
avg_loss = loss.rolling(window=14).mean()
rs = avg_gain / avg_loss
stock_data["rsi"] = 100 - (100 / (1 + rs))

In [108]:
# Moving Average Convergence Divergence (MACD)
#def calculate_macd(data, short_window=12, long_window=26, signal_window=9):
short_ema = stock_data["ema"]
long_ema = stock_data["Close"].ewm(span=16, adjust=False).mean()
macd_line = short_ema - long_ema
signal_line = macd_line.ewm(span=9, adjust=False).mean()
stock_data["macd"] = macd_line - signal_line

In [110]:
# Bollinger Bands
sma = stock_data["Close"].rolling(window=20).mean()
std = stock_data["Close"].rolling(window=20).std()
stock_data["bolinger_upper"] = sma + (std * 2)
stock_data["bolinger_lower"] = sma - (std * 2)

In [111]:
stock_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,sma,ema,rsi,macd,bolinger_upper,bolinger_lower
0,2010-01-04 00:00:00-05:00,6.453206,6.485558,6.421458,6.470742,493729600,0.0,0.0,NaN,6.470742,NaN,0.000000,NaN,NaN
1,2010-01-05 00:00:00-05:00,6.488580,6.518514,6.447762,6.481928,601904800,0.0,0.0,NaN,6.472463,NaN,0.000324,NaN,NaN
2,2010-01-06 00:00:00-05:00,6.481928,6.507628,6.372172,6.378824,552160000,0.0,0.0,NaN,6.458057,NaN,-0.002491,NaN,NaN
3,2010-01-07 00:00:00-05:00,6.402409,6.409968,6.320772,6.367033,477131200,0.0,0.0,NaN,6.444053,NaN,-0.004343,NaN,NaN
4,2010-01-08 00:00:00-05:00,6.358566,6.409967,6.321075,6.409362,447610800,0.0,0.0,NaN,6.438716,NaN,-0.003917,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376,2023-06-02 00:00:00-04:00,180.317907,181.064957,178.554865,180.238220,61945900,0.0,0.0,173.623037,175.279607,75.119967,0.190749,179.032684,168.213390
3377,2023-06-05 00:00:00-04:00,181.911617,184.222483,177.339661,178.873611,121946500,0.0,0.0,173.934295,175.832531,71.396000,0.165756,179.804584,168.064006
3378,2023-06-06 00:00:00-04:00,179.262086,179.411490,176.732069,178.505081,64848400,0.0,0.0,174.230608,176.243693,69.921917,0.117529,180.403301,168.057914
3379,2023-06-07 00:00:00-04:00,177.738101,180.497209,176.622511,177.120544,61944600,0.0,0.0,174.543734,176.378593,63.723939,0.028719,180.630849,168.456619
3380,2023-06-08 00:00:00-04:00,177.200215,180.128653,176.761959,179.859726,50214900,0.0,0.0,174.904795,176.914152,64.465446,0.040772,181.361520,168.448070

In [113]:
stock_data.to_csv('stock_data_feature_engineered.csv', index=False)